.upload-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.upload-form h3 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.upload-form input[type="file"],
.upload-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.upload-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #0d057e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.upload-form button:hover {
  background-color: #080a56;
}

.scan-result {
  margin-top: 30px;
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  font-family: monospace;
}
